{
  "http_interactions": [
    {
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"error\":\"unauthenticated\",\"error_description\":\"Invalid token\"}"
        },
        "status": {
          "code": 401,
          "message": "Unauthorized"
        },
        "headers": {
        }
      },
      "request": {
        "uri": "https://pharia-iam.product.pharia.com/check_user",
        "body": {
          "encoding": null,
          "string": "{\"permissions\":[\"Foobar\",\"Kernel\",\"Model-access\"]}"
        },
        "method": "post",
        "headers": {
          "content-type": [
            "application/json"
          ],
          "authorization": [
            "TOKEN_REMOVED"
          ]
        }
      },
      "recorded_at": "Wed, 3 Sep 2025 07:13:49 +0000"
    },
    {
      "response": {
        "body": {
          "encoding": null,
          "string": "Failed to deserialize the JSON body into the target type: permissions[0]: invalid type: string \"Foobar\", expected struct Permission at line 1 column 24"
        },
        "status": {
          "code": 422,
          "message": "Unprocessable Entity"
        },
        "headers": {
          "content-type": [
            "text/plain; charset=utf-8"
          ]
        }
      },
      "request": {
        "uri": "https://pharia-iam.product.pharia.com/check_user",
        "body": {
          "encoding": null,
          "string": "{\"permissions\":[\"Foobar\",\"Kernel\",\"Model-access\"]}"
        },
        "method": "post",
        "headers": {
          "content-type": [
            "application/json"
          ],
          "authorization": [
            "TOKEN_REMOVED"
          ]
        }
      },
      "recorded_at": "Wed, 3 Sep 2025 07:18:31 +0000"
    },
    {
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"sub\":\"295355180126307110\",\"email\":\"markus.klein@aleph-alpha.com\",\"email_verified\":true,\"permissions\":[]}"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "content-type": [
            "application/json"
          ]
        }
      },
      "request": {
        "uri": "https://pharia-iam.product.pharia.com/check_user",
        "body": {
          "encoding": null,
          "string": "{\"permissions\":[]}"
        },
        "method": "post",
        "headers": {
          "content-type": [
           [...]
