{
  "http_interactions": [
    {
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"sub\":\"336362361919115278\",\"email\":null,\"email_verified\":null,\"permissions\":[]}"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "content-type": [
            "application/json"
          ]
        }
      },
      "request": {
        "uri": "https://pharia-iam.product.pharia.com/check_user",
        "body": {
          "encoding": null,
          "string": "{\"permissions\":[{\"permission\":\"AccessAssistant\"},{\"permission\":\"NuminousAccess\"}]}"
        },
        "method": "post",
        "headers": {
          "authorization": [
            "TOKEN_REMOVED"
          ],
          "content-type": [
            "application/json"
          ]
        }
      },
      "recorded_at": "Fri, 10 Oct 2025 12:30:43 +0000"
    }
  ],
  "recorded_with": "rVCR 0.3.0"
}