{
  "http_interactions": [
    {
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"sub\":\"336362361919115278\",\"email\":null,\"email_verified\":null,\"permissions\":[{\"permission\":\"KernelAccess\"},{\"permission\":\"AccessModel\",\"model\":\"*\"}]}"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "content-type": [
            "application/json"
          ]
        }
      },
      "request": {
        "uri": "https://pharia-iam.product.pharia.com/check_user",
        "body": {
          "encoding": null,
          "string": "{\"permissions\":[{\"permission\":\"KernelAccess\"},{\"permission\":\"ExecuteJob\"},{\"permission\":\"Assistant\"},{\"permission\":\"Numinous\"},{\"permission\":\"AccessModel\",\"model\":\"*\"}]}"
        },
        "method": "post",
        "headers": {
          "authorization": [
            "TOKEN_REMOVED"
          ],
          "content-type": [
            "application/json"
          ]
        }
      },
      "recorded_at": "Thu, 4 Sep 2025 11:05:24 +0000"
    },
    {
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"sub\":\"336362361919115278\",\"email\":null,\"email_verified\":null,\"permissions\":[{\"permission\":\"KernelAccess\"},{\"permission\":\"AccessModel\",\"model\":\"*\"}]}"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "content-type": [
            "application/json"
          ]
        }[...]
