{
  "http_interactions": [
    {
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"error\":\"unauthenticated\",\"error_description\":\"Invalid token\"}"
        },
        "status": {
          "code": 401,
          "message": "Unauthorized"
        },
        "headers": {
        }
      },
      "request": {
        "uri": "https://pharia-iam.product.pharia.com/check_user",
        "body": {
          "encoding": null,
          "string": "{\"permissions\":[]}"
        },
        "method": "post",
        "headers": {
          "content-type": [
            "application/json"
          ],
          "authorization": [
            "TOKEN_REMOVED"
          ]
        }
      },
      "recorded_at": "Tue, 2 Sep 2025 17:51:16 +0000"
    }
  ],
  "recorded_with": "rVCR 0.3.0"
}