{
  "http_interactions": [
    {
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"sub\":\"295355180126307110\",\"email\":\"markus.klein@aleph-alpha.com\",\"email_verified\":true,\"permissions\":[]}"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "content-type": [
            "application/json"
          ]
        }
      },
      "request": {
        "uri": "https://pharia-iam.product.pharia.com/check_user",
        "body": {
          "encoding": null,
          "string": "{\"permissions\":[]}"
        },
        "method": "post",
        "headers": {
          "authorization": [
            "TOKEN_REMOVED"
          ],
          "content-type": [
            "application/json"
          ]
        }
      },
      "recorded_at": "Tue, 2 Sep 2025 17:48:15 +0000"
    },
    {
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"sub\":\"295355180126307110\",\"email\":\"markus.klein@aleph-alpha.com\",\"email_verified\":true,\"permissions\":[]}"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "content-type": [
            "application/json"
          ]
        }
      },
      "request": {
        "uri": "https://pharia-iam.product.pharia.com/check_user",
        "body": {
          "encoding": null,
          "string": "{\"permissions\":[]}"
        },
        "method": "post",
        "headers": {
          "authorization": [
            "TOKEN_REMOVED"
          ],
          "content-type": [
            "application/json"
          ]
        }
      },
      "recorded_at": "Tue, 2 Sep 2025 17:48:28 +0000"
    }
  ],
  "recorded_with": "rVCR 0.3.0"
}